/* CSS Document */
/* CSS Document */
/*重置*/
*{padding: 0;margin: 0;text-decoration:none;list-style: none;font-family: 微软雅黑;font-size: 14px;color: #3D3D3D;outline: none}
a:focus{outline: none;-moz-outline-style: none; }
img{border:none}
/*上部*/
.bar-bg{width: 100%;height: 35px;background: #F9F9F9;}
.bar-box{width: 1201px;height:35px;margin: 0 auto;}
.bar-lt{float: left;width: 400px;height: 35px;}
.bar-lt p{line-height: 35px;float: left}
.bar-lt span{color: #898989;line-height: 35px;margin-left: 10px;margin-right: 19px;}
.bar-rt{float: right}
.bar-rt li{float: left;line-height: 35px;margin-right: 10px;}
.bar-Login{display: inline-block;width: 60px;height: 20px;background:#4348f2;color: #fff;text-align: center;line-height: 20px;}
/*导航栏*/
.nav{width: 1201px;;height:43px;margin-top:20px;margin: 0 auto}
.nav li{float: left;width: 110px;height: 43px;line-height: 43px;text-align: center;margin-right: 10px;margin-top: 20px;font-size:19px;font-weight:500 }
.nav li:hover{background: #4348f2;color: #fff;}
.nav .nav-libg{background: #4348f2;color: #fff;}
.nav-line{width: 100%;height: 2px;background: #4348f2;float: left;margin-bottom: 20px;}



/*主体*/
.main-bg{background: url(../img/bg.png) no-repeat;background-size: 100% 100%;width: 100%;height: 759px;clear: both;position: relative;}
.main-form{width: 360px;height: 690px;background: #fff;border: 1px solid #ccc;position: absolute;top: 45px;right: 15%;}
.main-form-text2{text-align: center;font-size: 14px;line-height: 60px;}
.main-form p{font-size: 16px;margin-bottom: 20px;}
.main-form p span{color: red;margin-left: 5px;margin-right: 5px;}
.main-form-text{margin-left: 30px;}
.main-form-text input{width: 200px;height: 30px;padding-left: 10px;}
.main-form-text1 input{width: 80px;height: 30px;}
.main-form-text3{width:293px;height: 57px;display:block;background: #4348f2;color: #fff;text-align: center;line-height: 57px;margin-left: 33px;font-size: 18px;border: none;}
.main-form-text3:hover{cursor: pointer}
.main-form-text4 textarea{width: 295px;height: 45px;resize:none;padding-left:5px;padding-top: 5px;font-size: 12px;}
/*招标利弊*/
.main1{width: 700px;height: 350px;margin: 0 auto;margin-top: 25px;margin-bottom: 25px;}
.Message-con-st1{width: 40px;margin-right: 5px;}






