/* CSS Document */
/*重置*/
*{padding: 0;margin: 0;text-decoration:none;list-style: none;font-family: 微软雅黑;font-size: 14px;color: #3D3D3D;outline: none}
a:focus{outline: none;-moz-outline-style: none; }
img{border:none}
/*上部*/
.bar-bg{width: 100%;height: 35px;background: #F9F9F9;}
.bar-box{width: 1201px;height:35px;margin: 0 auto;}
.bar-lt{float: left;width: 400px;height: 35px;}
.bar-lt p{line-height: 35px;float: left}
.bar-lt span{color: #898989;line-height: 35px;margin-left: 10px;margin-right: 19px;}
.bar-rt{float: right}
.bar-rt li{float: left;line-height: 35px;margin-right: 10px;}
.bar-Login{display: inline-block;width: 60px;height: 20px;background:#4348f2;color: #fff;text-align: center;line-height: 20px;}
/*导航栏*/
.nav{width: 1201px;;height:43px;margin-top:20px;margin: 0 auto}
.nav li{float: left;width: 110px;height: 43px;line-height: 43px;text-align: center;margin-right: 10px;margin-top: 20px;font-size:19px;font-weight:500}
.nav li:hover{background: #4348f2;color: #fff;}
.nav .nav-libg{background: #4348f2;color: #fff;}
.nav-line{width: 100%;height: 2px;background: #4348f2;float: left;margin-bottom: 20px;}

.main{width: 628px;height: 1020px;margin: 150px auto;}
.fwsrk{margin: 0 auto;font-size: 16px;background: #3C6DB0;text-align: center;width: 200px;height: 50px;color: #fff;line-height: 50px;}
.fwsrk:hover{background: #5A88C8}