.nav-box{
	width: 100%;
	height: 117px;
}
.nav-main{
	width: 1200px;
	height: 117px;
	margin: 0 auto;
}
.logo-box{
	float: left;
	width: 300px;
	height: 117px;
	margin-left:100px;
}
.logo{
	margin-top: 25px;
}
.list-nav{
	float: right;
}
.list-nav-b li{
	float: left;
	margin-right: 45px;
	line-height: 117px;
}
.list-nav-b li a{
	color: #666666;
}
/*上方为头部注释*/
.content-box{
	width: 1200px;
	margin: 0 auto;
}
.banner-box{
	height:200px;
	width: 100%;
}
.gps{
	margin-top: 28px;
	margin-left: 151px;
}
.second{
	padding-top: 30px;
}
.content-tit1{
	width: 880px;
	margin: 0 auto;
	margin-top: 28px;
	overflow: hidden;
}

.txt{
	color: #747474;
}
.text{
	width: 460px;
	font-size: 18px;
	color: #666666;
	float:left;
	padding-top: 45px;
	padding-right: 30px;
}
.image-box{
	float: left;
}
.text1{
	width: 460px;
	font-size: 18px;
	color: #666666;
	float:left;
	padding-top: 45px;
	padding-left: 30px;
}
.image-box1{
	float: left;
	padding-left: 10px;
}
.di-l{
	width:100%;
	height: 194px;
	background-color: #2e2e3a;
}
.did{
	width: 1200px;
	margin: 0 auto;
}
.didis li{
	float: left;
	margin-left: 50px;
	margin-top: 57px;
	
}
.didis li a{
	color: #fff;
	font-size: 20px;
}
.right1{
	float: right;
	margin-right: 72px;
}
.last{
	color: #fff;
	margin-top: 57px;
}
.last span{
	font-size: 30px;	
}
