/* CSS Document */
.fwslb_box{margin: 0;padding: 5px;}
.icon {width: 1.3em; height: 1.3em;vertical-align: -0.15em;fill: currentColor;overflow: hidden;}
.fwslb_box h3{padding: 0;margin: 0;}
.fwslb_box_con{margin-top: 25px;overflow: hidden}
.fwslb_box_con_left{float: left;width: 30%}
.fwslb_box_con_right{float: left;width:70%;}
.fwslb_box_con_right_text{font-weight: bold}
.fwslb_box_con_right_text1{word-break:break-all}

















