/* CSS Document */
/*价格简介栏*/
.col-xs-12 .tit-text{padding: 0 15px;font-size: 1.3em;margin: 0;}
.bg{background:#EEEEEE}
.col-xs-3 .text-all{display:block;width:85px;height:30px;border: 1px solid #FF5000;border-radius:5px;text-align: center;line-height: 30px;color:#FF5000;text-decoration: none ;font-size: 12px;}





