 .page {
            margin: 20px 0px;
        }
        .page div .current{
            color: #FFF;
            background: #00a9dc;
            padding: 5px 10px;
            margin: 5px 2px;
            border: 1px solid #00a9dc;
        }
        .page div .num,.page div .prev,.page div .next{
            border: 1px solid #00a9dc;
            padding: 5px 10px;
            color: #00a9dc;
            margin: 5px 2px;
        }