
.header2{ display:none; background-color:#FFF; border-bottom:1px solid #dcdcdc;}
.header2.header{ position:fixed; top:-64px;}
.header2 .head,.header2 .logo{ height:64px;}
.header2 .user,.header2 .lg{ padding-top:14px;}
.header2 .serch{ padding-top:23px;}
.header2 .lg a{ color:#949494; opacity:1; filter: alpha(opacity=100);}
.header2 .user_img{ border:3px solid #FFF;}
.nav2 .nav_name{ background:url(../images/top_navline.jpg) no-repeat right;}
.nav2 .nav_name:hover{ color:#009b4d;}
.header2 .lg a:hover{ color:#009b4d;}
.header2 .sub_ser{ border-bottom:1px solid #dcdcdc;}
.header2 .sub_ser,.header2 .ser_text{ background-color:#FFF;}
.header2 .ser_text{ color:#666;}
.header2 .sub_seline{ border-bottom:1px solid #dcdcdc;}


.nav1{ padding-top:26px;}
.nav1 .nav_name{ background:url(../images/nav_line.png) no-repeat right; color:#FFF;}
.nav1 .sub_chnal li a{ color:#009b4d;}
.nav1 .sub_infname a{ color:#FFF;}
.nav1 .sub_infIntro{ color:#afafaf;}
.nav1 li.cur .nav_name,.nav1 li.nav_this .nav_name{ color:#009b4d;}
.header1 .lg a:hover{ opacity:1; filter: alpha(opacity=100);}
.header1 .sub_ser,.header1 .ser_text{ background:url(../images/sub_yy.png) repeat;}
.header1 .ser_text{ color:#FFF; opacity:0.5; filter: alpha(opacity=50);}
 
/*banner效果*/
.banner { position:relative; width:100%;}
.banner_list{ width:100%; overflow:hidden;}
.banner_list li { position:absolute; width:100%; display:none; }
.banner_list li img{ position:absolute; left:50%; top:50%; width:100%;}
.banner_owd{ position:absolute; left:0; bottom:8.6%; z-index:800; width:100%; height:7px;}
.banner_btn{ height:7px;}
.banner_o{ width:auto; height:7px; padding-left:22px;}
.banner_o li{ float:left; margin-right:5px; display:inline-block; background-color:#FFF; opacity:0.44; filter: alpha(opacity=44); width:17px; height:7px; cursor:pointer; border-radius:8px; -moz-border-radius:8px; -webkit-border-radius:8px; transition:all 1s ease 0.01s; -moz-transition:all 1s ease 0.01s; -webkit-transition:all 1s ease 0.01s;}
.banner_o li.on{ background-color:#009b4d; opacity:1; filter: alpha(opacity=100); width:37px; transition:width 0.4s ease 0.01s; -moz-transition:width 0.4s ease 0.01s; -webkit-transition:width 0.4s ease 0.01s;}
.banner_o span em{ font-size:0; text-indent:-99999;}
.ban_down{ position:absolute; left:50%; bottom:7%; z-index:900; margin-left:-27px; width:54px; height:54px;}
.ban_down a{ cursor:pointer;}

/*warp*/
.warp_show{ width:100%; height:auto; overflow:hidden;}
.warp_shBox{ clear:both; position:relative;}
.name{ color:#484848; font-size:32px; font-weight:bold; line-height:normal; text-align:center;}
.intro{ font-size:14px; line-height:22px; width:806px; margin:12px auto 38px; text-align:center;}

/*产品系列*/
.pro_chnal{ height:272px;}
.pro_chnal li{ float:left; position:relative; background:url(../images/pro_chline1.png) repeat-y right top; width:300px; height:262px; padding:5px 0;}
.pro_chPo{ width:240px; margin:0 auto;}
.pro_chImg{ width:160px; height:160px; margin:0 auto;}
.pro_chname{ color:#333; font-size:18px; width:240px; height:24px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; margin:22px 0 12px; text-align:center;}
.pro_chintro{ color:#888; font-size:14px; line-height:22px; height:44px; overflow:hidden; text-align:center;}
.pro_chintro pre{ font-family:'Microsoft YaHei';}
.pro_chShave{ display:none; position:absolute; top:0; left:0; z-index:10; width:300px; height:336px; overflow:hidden;}
.pro_chShow{ position:absolute; top:0; left:0; background-color:#009b4d; width:284px; height:312px; padding:24px 0 0 16px;}
.pro_chicon{ width:52px; height:52px; margin-right:24px; display:inline;}
.pro_chall{ background:url(../images/pro_chline2.jpg) repeat-y right top; width:208px; margin-top:16px; display:inline;}
<!--.pro_chaPeo{ width:156px; margin-top:16px; display:inline;}-->
.pro_chaName{ margin-bottom:14px;}
.pro_chaName a{ display:block; color:#FFF; font-size:18px; width:208px; height:24px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.pro_chaLbox{ width:118px; height:36px; line-height:36px; border-bottom:1px dotted #24c272;}
.pro_chaLbox a{ display:block; background:url(../images/pro_chsbac.png) no-repeat left; padding-left:14px; margin-left:2px; color:#bdf9db; font-size:14px; height:36px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }
.pro_chaLbox a:hover{ background:url(../images/pro_chsbho.png) no-repeat left; color:#FFF;}
.pro_chaMore{ width:116px; height:24px; margin-top:16px;}
.pro_chaMore a{ display:block; color:#98eec3; font-size:14px; width:114px; height:22px; line-height:22px; text-align:center; border:1px solid rgba(255,255,255,0.5); border-radius:14px; -moz-border-radius:14px; -webkit-border-radius:14px;}
.pro_chaMore a:hover{ color:#FFF;}
.pro_chaMore a span{ background:url(../images/pro_chMicon.png) no-repeat right; padding-right:24px;}
.pro_chaPimg{ position:relative; width:135px; height:135px; margin:0 auto;}
.pro_chaPbd{ position:absolute; top:0; left:0; z-index:10; width:135px; height:135px;}
.pro_chaPbd a{ display:block; background:url(../images/pro_chpBd.png) no-repeat; width:135px; height:135px;}
.pro_chaPen,.pro_chaPcn,.pro_chaPro{ text-align:center;}
.pro_chaPen{ color:#FFF; font-size:18px; padding-top:12px; margin-bottom:2px;}
.pro_chaPcn{ color:#FFF; font-size:14px;}
.pro_chaPro{ color:#bdf9db; line-height:18px; height:54px; overflow:hidden; padding-top:8px;}
.pro_chnal li.cur1 .pro_chShow{ left:-444px;}
.pro_chnal li.cur2 .pro_chShave{ right:0; left:auto;}
.pro_chnal li.cur2 .pro_chShow{ right:-444px; left:auto;}
.pro_chnal li.zIndex{ z-index:20;}
.box-b{ bottom:-800px;}

/*质量学员*/
#warp_shBox2{ height:600px;}
.school{ position:absolute; top:0; left:50%; margin-left:-960px; width:1920px; height:600px;}
.sch_img{ width:1920px; height:600px;}
.sch_infor{ position:absolute; top:0; left:50%; margin-left:-600px; width:1200px; height:600px; z-index:20;}
.sch_infBox{ padding:164px 0 0 60px;}
.sch_ifBname a{ display:block; color:#FFF; font-size:40px; font-weight:bold; line-height:normal;}
.sch_ifBcon{ color:#FFF; font-size:15px; width:524px; margin:24px 0 34px;}
.sch_ifBmore{ height:36px;}
.sch_ifBmore a{ display:block; color:#FFF; font-size:13px; width:110px; height:26px; line-height:26px; text-align:center; border:5px solid rgba(255,255,255,0.3); border-radius:18px;}
.sch_ifBmore a span{ font-family:'宋体'; font-size:15px; padding-left:8px;}

/*news*/
.news{ position:relative; height:384px; padding-top:40px;}
.news_hot{ position:absolute; top:40px; left:0; width:564px; height:354px;}
.box-b2{ left:-564px;}
.news_list{ position:absolute; top:40px; width:600px; height:384px; overflow:hidden;}
.box-b3{ right:-600px;}
.news_Himg{ width:564px; height:250px;}
.news_hot .news_all{ padding-top:22px;}
.news_aTop,.news_aTop a{ display:block; height:24px;}
.news_hot .news_aTop{ margin-bottom:14px;}
.news_aTname{ display:inline-block; height:24px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.news_aTime{ color:#888;}
.news_aDown{ color:#888; line-height:22px; height:44px; overflow:hidden;}
.news_hot .news_aTname{ font-size:22px; width:470px;}
.news_list li{ clear:both; height:auto; overflow:hidden; padding:10px 0 40px;}
.news_time{ font-family:Arial; color:#dcdcdc; font-size:72px; width:110px; height:72px; line-height:72px; text-align:center; border-right:3px solid #f3f3f3;}
.news_list .news_all{ width:464px;}
.news_list .news_aTname{ width:380px; font-size:16px;}
.news_list .news_aDown{ padding-top:10px;}

/*three-chnal*/
.three_chnal{ background:url(../images/three_chimg.jpg) no-repeat center; position:relative; width:100%; height:600px;}
.banner_three{ position:absolute; top:0; left:50%; margin-left:-960px; width:1920px; height:600px;}
.banner_thlist{ position:relative; width:1200px; height:600px; margin:0 auto; overflow:hidden;}
.banner_thlist li{ float:left; position:relative; width:1200px; height:600px;}
.th_media{ width:504px; margin:0 auto; padding-top:145px;}
.th_medIcon{ width:80px; height:80px; margin:0 auto; cursor:pointer;}
.th_medCon{ padding-top:8px;}
.th_medImg{ width:230px; height:72px; margin:0 auto;}
.th_medGod{ color:#FFF; opacity:0.6; filter: alpha(opacity=60); font-size:14px; line-height:22px; padding-top:4px; text-align:center;}
.banner_thowd{ position:absolute; left:50%; bottom:25px; margin-left:-224px; z-index:30; background:url(../images/three_line.png) repeat-x; width:448px; height:63px;}
.banner_tho{ width:408px; height:63px; margin:0 auto;}
.banner_tho a{ display:inline-block; float:left; background:url(../images/three_chac.png) no-repeat bottom; width:86px; height:36px; margin:0 25px; cursor:pointer;}
.banner_tho a em{ display:block; color:#FFF; font-size:14px; font-style:normal; width:86px; height:23px; line-height:23px; text-align:center;}
.banner_tho a.on{ background:url(../images/three_chho.png) no-repeat bottom;}
.banner_tho a.on em{ background:url(../images/three_chpbd.png) no-repeat;}
.th_chpage{ position:absolute; top:250px; z-index:100; width:34px; height:64px; cursor:pointer;}
.three_pre{ background:url(../images/three_Lac.png) no-repeat; left:4%;}
.three_next{ background:url(../images/three_Rac.png) no-repeat; right:4%;}
.three_pre:hover{ background:url(../images/three_Lho.png) no-repeat;}
.three_next:hover{ background:url(../images/three_Rho.png) no-repeat;}
.th_medPo{ display:none; position:absolute; top:20px; left:50%; margin-left:-454px; z-index:50; width:908px; height:544px;}
.th_mdClose{ width:28px; height:28px; cursor:pointer;}
.job{ width:915px; height:330px; margin:0 auto; padding-top:128px;}
.job_list{ width:915px; height:330px;}
.job_Lbox{ float:left; background-color:#f3f3f3; width:285px; height:330px; margin:0 10px; display:inline; }
.job_img{ width:285px; height:150px;}
.job_Lshow{ padding:22px 27px 0 27px;}
.job_title a{ display:block; font-size:18px; width:231px; height:24px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; text-align:center;}
.job_en{ font-family:Arial; color:#cfcfcf; font-size:18px; margin-bottom:12px; margin-top:2px; height:24px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; text-align:center;}
.job_intro{ background:url(../images/th_jobline.jpg) no-repeat top center; color:#888; line-height:22px; height:66px; overflow:hidden; padding-top:18px; text-align:center;}
.job_Lbox:hover{ background-color:#009b4d; transition:all 0.4s ease 0.01s; -moz-transition:all 0.4s ease 0.01s; -webkit-transition:all 0.4s ease 0.01s;}
.job_Lbox:hover .job_title a{ color:#FFF;}
.job_Lbox:hover .job_en{ color:#b8e7cf;}
.job_Lbox:hover .job_intro{ background:url(../images/th_joblineho.jpg) no-repeat top center; color:#FFF;}

/*about*/
.about{ width:1200px; height:330px; overflow:hidden;}
.about_show{ width:1220px;}
.about_show .job_Lbox{ margin:0 20px 0 0; display:inline;}

/*cont*/
#warp_shBox6{ background:url(../images/cont_img.jpg) no-repeat center; width:100%; height:532px;}
#warp_shBox6 .pdd{ padding:84px 0 0 0;}
#warp_shBox6 .name a{ color:#FFF;}
.cont{ height:140px; padding-top:40px;}
.cont li{ float:left; width:300px; height:140px;}
.cont li a{ display:block; width:300px;}
.cont_icon{ display:block; width:115px; height:100px; margin:0 auto;}
.cont_name{ display:block; color:#919090; font-size:14px; width:300px; padding-top:16px; text-align:center;}
.cont_icon1{ background:url(../images/cont_ac1.png) no-repeat;}
.cont_icon2{ background:url(../images/cont_ac2.png) no-repeat;}
.cont_icon3{ background:url(../images/cont_ac3.png) no-repeat;}
.cont_icon4{ background:url(../images/cont_ac4.png) no-repeat;}
.cont li a:hover .cont_icon1{ background:url(../images/cont_ho1.png) no-repeat;}
.cont li a:hover .cont_icon2{ background:url(../images/cont_ho2.png) no-repeat;}
.cont li a:hover .cont_icon3{ background:url(../images/cont_ho3.png) no-repeat;}
.cont li a:hover .cont_icon4{ background:url(../images/cont_ho4.png) no-repeat;}
.cont li a:hover .cont_name{ color:#009b4d;}

/*左侧定位*/
.float_po{ position:fixed; top:50%; left:24px; margin-top:-140px; z-index:1400; width:43px; }
.float_po li{ background:url(../images/float_pobd.png) no-repeat; position:relative; position:relative; width:43px; height:40px;}
.float_poName{ display:none; background:url(../images/float_poNbd.png) no-repeat; position:absolute; top:-15px; left:0; z-index:30; width:43px; height:43px;}
.float_poName a{ display:block; padding:9px 9px 0 9px; color:#FFF; font-size:12px; font-weight:bold; line-height:14px; width:25px; height:34px; text-align:center;}
.float_poClick a{ display:block; width:43px; height:43px; font-size:0; text-indent:-9999;}
.float_po li.cur .float_poName{ display:block;}
.float_po li a{ cursor:pointer;}
.float_poLine{ background:url(../images/float_poline.png) no-repeat; position:absolute; left:0; bottom:0; width:43px; height:27px;}