<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="__PUBLIC__/home/dist/css/reset1.css" type="text/css" rel="stylesheet" />
    <link href="__PUBLIC__/home/dist/css/activity.css" type="text/css" rel="stylesheet" />
    <title>活动</title>
</head>
<body>
    <div class="activity_box">

            <h2>{$con['title']}</h2>
        <p>
           {:htmlspecialchars_decode($con['content'])}
        </p>
    </div>


<script src="__PUBLIC__/home/dist/js/rem.js"></script>
</body>
</html>