<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>财税服务</title>
<link rel="icon" href="__HOME__/dist/images/" type="image/x-icon"/>
<!--通用CSS-->
<link href="__HOME__/dist/css/reset.css" rel="stylesheet">
<!--本页CSS-->
<link href="__HOME__/dist/css/wx_qt_qyfw.css" rel="stylesheet">
</head>
<div class="wx_qyfw_header_img">
	<img src="__HOME__/dist/images/qyfw_bg.png">
</div>
<div class="wx_qyfw_box">
	<div class="wx_qyfw_box_tit_box">
		<span class="wx_qyfw_box_tit">财税服务</span>
	</div>
	
	<div class="wx_qyfw_main_box">
		<div class="wx_qyfw_main"><a href="xqym.html">
			<img src="__HOME__/dist/images/csfw1.png">
			<p>代理记账</p>
		</a></div>
		<div class="wx_qyfw_main"><a href="xqym.html">
			<img src="__HOME__/dist/images/csfw2.png">
			<p>财务审计</p>
		</a></div>
		<div class="wx_qyfw_main"><a href="xqym.html">
			<img src="__HOME__/dist/images/csfw3.png">
			<p>财税咨询</p>
		</a></div>
		<div class="wx_qyfw_main"><a href="xqym.html">
			<img src="__HOME__/dist/images/csfw4.png">
			<p>财税代办</p>
		</a></div>
		<div class="wx_qyfw_main"><a href="xqym.html">
			<img src="__HOME__/dist/images/csfw5.png">
			<p>资产评估</p>
		</a></div>
	</div>	
</div>
<!--通用JS-->
<script src="__HOME__/dist/js/jquery-1.11.1.min.js"></script>
<script src="__HOME__/dist/js/rem.js"></script>
<!--本页JS-->
<script src="__HOME__/dist/js/flfw.js"></script>
</html>
