<extend name="home@public/index"/>

<block name="tit">
<title>加入我们</title>
</block>

<link href="__PUBLIC__/home/css/bootstrap.css" rel="stylesheet">
<link href="__PUBLIC__/home/css/nav.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/home/css/join.css" rel="stylesheet" type="text/css">
</head>
<body>
<block name="con">

<!--上方为电脑版导航-->

<div class="container-fluid banner">
	<img src="__PUBLIC__/home/images/wHrZflsGozmmAAAAABJRU5ErkJggg==.png" class="img-responsive">
</div>
<div class="container">
<h3 style="text-align:center;">岗位招聘<br><span class="xsx">Recruitment</span></h3>
<h3 class="eamil">简历投递邮箱:<span>511019998@qq.com</span></h3>
</div>
<div class="container">
	<div class="row">
    	<div class="col-xs-12 col-md-6">
        <h4>办公日常管理</h4>
        <p>员工招聘和办理入、离职手续；配合行政经理做一些日常性事宜</p>
        <p>起草、规范公司规章制度，监督和推动执行。</p>
        <p>大专以上学历，好学有上进心者优先考虑。工作团队年轻、氛围好，弹性工作时间。</p>
        </div>
        <div class="col-xs-12 col-md-6">
        <h4>淘宝客服</h4>
        <p>
        要求认真负责有上进心 性格乐观开朗 有较强的语言表达能力和服务意识
        </p>
        <p>
        学历要求大专（以上） 有一定工作经验者，业绩突出者可放宽至中专，公司提供系统培训
        </p>
        <p>只要你肯努力，月薪过万不是问题！</p>
        </div>
        <div class="col-xs-12 col-md-12">
        	<p>
            联系人（人事主管）：13588351521
            </p>
        </div>
    </div>
</div>
</block>
<!--上方为手机版导航-->