<extend name="home@public/index"/>
<block name="tit">
    <title>美工</title>
</block>
<link href="__PUBLIC__/home/css/meigong.css" rel="stylesheet">
<block name="con">
<!--上方为手机版导航-->
<div class="container" style="height:300px; margin-top:2em;">
	<div class="row">
        <div class="col-md-3 col-xs-6">
        	<div class="content">
        	<img src="__PUBLIC__/home/images/1.png" class="photo img-responsive center-block">
             	<p class="text-danger">￥4200-10200</p>
                <p class="title">从美工到视觉设计师任您选择</p>
            </div>  
        </div>
        <div class="col-md-3 col-xs-6">
        	<div class="content">
        		<img src="__PUBLIC__/home/images/2.png" class="photo img-responsive center-block" >
            	<p class="text-danger">￥&nbsp;150</p>
                <p class="title">专注主图，让你的店铺更显眼</p>
            </div>   
        </div>
        <div class="col-md-3 col-xs-6">
        	<div class="content">
        		<img src="__PUBLIC__/home/images/3.png" class="photo img-responsive center-block">
            	<p class="text-danger">￥&nbsp;1500</p>
                <p class="title">耳目一新，过目难忘</p>
            </div>    
        </div>
        <div class="col-md-3 col-xs-6">
        	<div class="content">
        		<img src="__PUBLIC__/home/images/4.png" class="photo img-responsive center-block">
            	<p class="text-danger">￥&nbsp;1200</p>
                <p class="title">抓住重点，精修产品	</p>
            </div>    
        </div>
    </div>
</div>
<div class="container bigbox" style="margin-top:1em;">
	<h3 style="text-align:center;">案例展示</h3>
    <span class="glyphicon glyphicon-chevron-right right1"></span>
      <span class="glyphicon glyphicon-chevron-left left1"></span>
	<div class="row back" style="margin-top:2em;">
    	 <div class="col-md-12 col-xs-12" style="text-align:center;margin-bottom:2em;">
        	<img src="__PUBLIC__/home/images/21212.png" class="img-responsive center-block">
        </div>
        <div class="col-md-12 col-xs-12" style="text-align:center;margin-bottom:2em;">
        	<img src="__PUBLIC__/home/images/212.png" class="img-responsive center-block">
        </div>
        <div class="col-md-12 col-xs-12" style="text-align:center;margin-bottom:2em;">
        	<img src="__PUBLIC__/home/images/2123.png" class="img-responsive center-block">
        </div>
    </div>
</div>
</block>

</body>
</html>
