<extend name="public/base"/>
<block name="distcss">
		<link href="__PUBLIC__/home/dist/css/reset.css" type="text/css" rel="stylesheet" />
		<link href="__PUBLIC__/home/dist/css/wx_qt_foot.css" rel="stylesheet">
		<link href="__PUBLIC__/home/dist/css/personal.css" type="text/css" rel="stylesheet"/>
</block>
</head>

<block name="content">
		<header class="hello-personal-box">
			<div class="welcoming-speech">
				<p class="welcoming"><img style="width:50px;height:50px;border-radius:50px" src="{$item.img}"></p>
				<p class="ur-name"><span>{$item.name}</span></p>
			</div>
		</header>
		<div class="content-box">
			<ul class="nav-bars">
				<li><a href="{:U('index/enter')}"><span class="icon icon-bridge"></span>企业录入</a></li>
				<li><a href="{:U('indexoder')}"><span class="icon icon-indent"></span>服务订单</a></li>
				<li><a href="{:U('index/fwpj')}"><span class="icon icon-suggest"></span>投诉建议</a></li>
				<li><a href="{:U('index/alter')}"><span class="icon icon-alter"></span>修改信息</a></li>
			</ul>
		</div>
		<div class="exit-box">
			<a href="{:U('index/logout')}">退出登录</a>
		</div>
		<!-- 底部栏显示标识 -->
			<div class="wx_qt_dbgdl_active">3</div>
	</block>
<block name="javascript">
		<script  src="__PUBLIC__/home/dist/js/mobblie.js"></script>
		<script src="__PUBLIC__/home/dist/js/font_440400_waj7qmu35o2yb9.js"></script>
		<script type="text/javascript">
            if(<?php echo I('get.alert');?>=='1'){
            	alert('信息提交成功');
            }
		</script>
</block>
