<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>物业服务</title>
<link rel="icon" href="__PUBLIC__/home/dist/images/" type="image/x-icon"/>
<!--通用CSS-->
<link href="__PUBLIC__/home/dist/css/reset1.css" rel="stylesheet">
<!--本页CSS-->
<link href="__PUBLIC__/home/dist/css/wx_qt_qyfw.css" rel="stylesheet">
</head>
<div class="wx_qyfw_header_img">
	<img src="__PUBLIC__/home/dist/images/qyfw_bg.png">
</div>
<div class="wx_qyfw_box">
	<div class="wx_qyfw_box_tit_box">
		<span class="wx_qyfw_box_tit">物业服务</span>
	</div>
	
	<div class="wx_qyfw_main_box">
		<div class="wx_qyfw_main"><a href="xqym.html">
			<img src="__PUBLIC__/home/dist/images/wyfw1.png">
			<p>办公绿化</p>
		</a></div>
		<div class="wx_qyfw_main"><a href="xqym.html">
			<img src="__PUBLIC__/home/dist/images/wyfw2.png">
			<p>办公装修</p>
		</a></div>
		<div class="wx_qyfw_main"><a href="xqym.html">
			<img src="__PUBLIC__/home/dist/images/wyfw3.png">
			<p>宽带服务</p>
		</a></div>
		<div class="wx_qyfw_main"><a href="xqym.html">
			<img src="__PUBLIC__/home/dist/images/wyfw4.png">
			<p>饮用水</p>
		</a></div>
		<div class="wx_qyfw_main"><a href="xqym.html">
			<img src="__PUBLIC__/home/dist/images/wyfw5.png">
			<p>保洁卫生</p>
		</a></div>
	</div>	
</div>
<!--通用JS-->
<script src="__PUBLIC__/home/dist/js/jquery-1.11.1.min.js"></script>
<script src="__PUBLIC__/home/dist/js/rem.js"></script>
<!--本页JS-->
<script src="__PUBLIC__/home/dist/js/flfw.js"></script>
</html>
