<extend name="public/base"/>
<block name="distcss">
<!--本页CSS-->
<link href="__PUBLIC__/home/dist/css/wx_qt_zsyz.css" rel="stylesheet">
<style type="text/css">
	.t::-webkit-scrollbar {
		width: 0px;
		height: 1px;
}
</style>
</block>
</head>

<block name="content">
<div class="wx_qt_zsyz_header_img">
	<img src="__PUBLIC__/admin/uploads/{$xinxi.rz_img}">
</div>
<div class="wx_qt_zsyz_main_box">
	<div class="wx_qt_zsyz_main_tit">
		<ul>
			<li class="wx_qt_zsyz_main_tit_active">招商政策</li>
			<li>申请入驻</li>
			<li>联系我们</li>
		</ul>
	</div>
	<div class="wx_qt_zsyz_main_con_box">
		<div class="wx_qt_zsyz_main_con">
			<textarea   class='t'    readonly="readonly" style="border:none;width:100%;height:400px">{$xinxi.zszc}</textarea>
		</div>
		<!--申请入驻-->
		<div class="wx_qt_zsyz_main_con">
			<textarea   class='t'    readonly="readonly" style="border:none;width:100%;height:400px">{$xinxi.rzxx}</textarea>
		</div>
		<div class="wx_qt_zsyz_main_con">
			<textarea   class='t'    readonly="readonly" style="border:none;width:100%;height:400px">{$xinxi.lxwm}</textarea>	
		</div>

	</div>
</div>

<div class="wx_qt_dbgdl_active">2</div>
</block>
<block name="javascript">
<script src="__PUBLIC__/home/dist/js/wx_qt_zsyz_tab.js"></script>
</block>
