/* CSS Document */
body{background: #F5F5F5}
a{color: #000;text-decoration: none;}
input{outline: none;}
.deliver_tit{height: 51px;line-height: 51px;text-align: center;border-bottom: 1px solid #F5F5F5;font-size: 1.1em;}
































