/* CSS Document */
.talents_com_tit{width: 100%;height: 102px;background: url(../img/resume_bg.jpg);}
.talents_com_tit_img{width: 80px;height: 80px;margin-top: 10px;border: 4px solid #ccc;margin-left: 15px;}
.talents_com_tit_con{float: left}
.talents_com_tit_con1{color: #fff;float:left;margin-top:25px;margin-left: 5%;}
.talents_com_tit_con1_name{color: #FFD800}
.talents_com_img_box{width: 30px;height: 30px;background: #413735;text-align: center;line-height: 28px;border-radius: 30px;}
.talents_com_text{font-size: 1.3em;line-height: 30px;color: #F97103}
.talents_com_a{display: inline-block;width: 25px;height: 25px;background: red;border-radius: 20px;text-align: center;margin-left: 15px;line-height: 25px;margin-top: -5px;}
.talents_com_icon{width: 1px;height:500px ;background: #E9E8E6;position: absolute;top:5px;left: 25px;z-index: -1}











