/* CSS Document */
.infor_con_box{width: 1226px;margin: 0 auto;}
.infor_con_box h1{text-align: center;}
.infor_con_box p{margin-top: 15px;font-size: 16px;text-indent:30px;line-height: 25px;}











