/* CSS Document */
.main-box{width: 100%;height: 600px;background:url(../img/bg.png);position: relative;margin-top: 20px;}
.cen{width: 350px;height: 380px;background:#fff;position: absolute;top:18%;right: 20%;}
.tit{width: 100%;height: 63px;border-bottom: 1px solid #F4F4F4;margin-bottom: 30px;}
.tit h1{text-align: center;line-height: 63px;}
.main form input{width: 255px;padding-left: 10px;border:none;outline:none;font-size: 16px;}
.main-icon{display: inline-block;width: 36px;height: 36px;}
.main-icon1{background: url(../img/login-icon1.png) no-repeat;}
.main-icon2{background: url(../img/login-icon2.png) no-repeat;}
table{border-collapse: collapse;}
form{width: 310px;margin: 0 auto;}
td{border: 1px solid #ccc;}
tr{display: block;margin-bottom:3px;}
.main-text{width:100%;height: 56px;text-align: right;margin-top: 10px;}
.main form .button{width:100%;height: 38px;background: #F8BF60;color: #fff;font-size: 18px;letter-spacing:15px;border: none;outline:none;}
.main form .button:hover{cursor: pointer;}
.main-text1{text-align: center;margin-top: 40px;}
.main-text1:hover{color:#FF6700}




