@charset "utf-8";
/* CSS Document */
body {
    background: #fff;
    font-family: '微软雅黑',sans-serif;
}
*{list-style:none; text-decoration:none;}
.title1{
	text-align:center;
	color:#4e4e4e;
	line-height:1.5em;
}
.main1{
	margin:0;
	padding:0;
}
.company>div{
	margin:0;
	padding:0;
}
.company-main{
	padding-left:0.2em;
	padding-right:0.2em;
}
.company-main{
	line-height:1.8em
}
.banner2{
	margin:0;
	padding:0;
}
/*下方为footer*/
.footer{
	width:100%;
	height:146px;
	background-color:#4e4e4e;
	float:left;
}
.footer_main{
	width:1200px;
	margin:0 auto;
	margin-top:32px;
}
.lie li{
	float:left;
	color:#FFFCF7;
}
.footer_main_b{
	width:730px;
	height:100px;
	float:left;
}
.footer_main_b ul li{
	float:left;
	margin-right:27px;
	color:#e8e4e4;
}
.footer_main_b ul{
	height:40px;
	margin:0;
	padding:0;
}
.jsj{
	color:#FFFCF7;
	font-size:14px;
	line-height:25px;
}
.footer_main_d{
	float:right;
	margin-right:40px;
	margin-top:10px;
	line-height:30px;
	color:#FFFCF7;
}
.xfoter{
	display:none;
	font-size:0.1em;
}
.footer2{
	float:left;
	color:#e4e3e3;
	margin:0;
	padding:0;
	margin-right:2em;
}
.footer3{
	float:left;
	color:#e4e3e3;
	margin:0;
	padding:0;
}
.main1{
	margin-bottom:1em;
}
.xfoter{
	display:none;
}
@media screen and (max-width: 800px){
	.xfoter{
	display:block;
}
.footer{display:none;}
}