/* CSS Document */
/*底部*/
.wx_qt_foot{
	width: 3.75rem;
	height: 0.62rem;
	background: #fff;
	position: fixed;
	left: 0;
	bottom: 0;
	font-size: 0.16rem;
    padding-bottom:0.05rem;
}
.wx_qt_foot_top{
	width: 100%;
	height: 0.03rem;
	background: #eee;
}
.wx_qt_foot_main_box{
	width: 100%;
	height: 0.58rem;
	padding:0.1rem 0.14rem;
	box-sizing:border-box;
}
.wx_qt_foot_main_con{
	width:25%;
	text-align: center;
	float: left;
}
.wx_qt_foot_main_con p{
	font-size: 0.13rem;
    margin-top:0.05rem;
}
.wx_qt_foot_main_con a{
	color: #000;
}
.wx_qt_foot_icon{
	width: 0.2rem; 
	height: 0.2rem;
	vertical-align: -0.15em;
	fill: currentColor;
	overflow: hidden;
	color:#000;
}

.wx_qt_foot_main_con_active a,.wx_qt_foot_main_con_active svg{
	color: #1e1c7d
}
.wx_qt_foot_zw{
	height: 0.6rem;
}
.wx_qt_dbgdl_active{
	display: none;;
}