/* CSS Document */
*{padding: 0;margin: 0;text-decoration:none;list-style: none;font-family: 宋体;}
a:focus{outline: none;-moz-outline-style: none; }
input:focus{outline: none;}表单获得焦点时不显示蓝色框
img{border: none;}
.line{vertical-align:middle;}